.product {
	width: 40%;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 3%;
	-webkit-box-shadow: 3px 2px 5px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 3px 2px 5px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 3px 2px 5px -2px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
}

.image {
	width: 100%;
}

@media (min-width: 768px) {
	.product {
		width: 21%;
	}
}

.cost {
	margin-bottom: 30px;
}

.divButton {
	display: flex;
	justify-content: center;
	margin-top: auto;
}

.button {
	padding: 10px 30px;
	background-color: #0ad4fa;
	color: white;
	font-weight: 800;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-size: 1.1em;
}

.button:active,
.button:focus {
	border: none;
	outline: none;
}

.button:hover {
	background-color: #d13124;
	border: none;
	outline: none;
}
