.success {
	background-color: #0ad4fa;
	color: white;
	position: fixed;
	bottom: 0;
	z-index: 99;
	margin: 30px;
	right: 0;
	width: 30%;
	padding: 30px 25px;
	border-radius: 25px;
	cursor: pointer;
	font-weight: bold;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 11px;
}
